In [1]:
import numpy as np
arr1=np.array([1,2,3])
arr2=np.array([4,5,6])

arr3=[]
for i in range(len(arr1)):
    print(arr1[i]*arr2[i])
#Printing the multipled array elements
    arr3.append(arr1[i]*arr2[i])
    
print(type(arr3))

arr4=np.array(arr3)
print(arr4)
print(type(arr4))

4
10
18
<class 'list'>
[ 4 10 18]
<class 'numpy.ndarray'>

In [2]:
import numpy as np
nums = np.array([[3, 332, np.nan, 1],
                 [810, 712,np.nan, 9]])


print(" array with missing values:")
print(nums)


print("array:")
print(np.isnan(nums))

 array with missing values:
[[  3. 332.  nan   1.]
 [810. 712.  nan   9.]]
array:
[[False False  True False]
 [False False  True False]]

In [3]:
import numpy as np

arr1= np.array([1,22,44,20])

arr2=np.array([[1,22,44,22]])

print(type(arr1))
print(type(arr2))

arr4=np.isin(arr1, arr2)
print(arr4)

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[ True  True  True False]

In [4]:
import numpy as np
arr1=[1,2,34,44,33]
arr2=np.array(arr1)

arr3=np.savetxt("numpyarray.txt",arr2)

In [5]:
import numpy as np
"""Q4 Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between
2.5. and 6.5, inclusive."""

#arange function is similar to range function

arr4=np.arange(0,30,2.5)
print(arr4)
print(type(arr4))

arr5=np.arange(0,30,6.5)
print(arr5)
print(type(arr5))

[ 0.   2.5  5.   7.5 10.  12.5 15.  17.5 20.  22.5 25.  27.5]
<class 'numpy.ndarray'>
[ 0.   6.5 13.  19.5 26. ]
<class 'numpy.ndarray'>